body{
    background-color: #1C2224;
    color: #7e9199;
}























/* body {
    color: #222;
    background: #fff;
}

a {
    color: #0033cc;
} */

/* Dark Mode styles */
/* body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme a {
    color: #809fff;
} */

/* dark mode snippet end */
