* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

#welcome-section{
    background-image: radial-gradient(circle, #26121d, #231320, #201423, #1c1625, #181726, #151a28, #111c29, #0f1e29, #0d212a, #0e242a, #102729, #142928);    color: #f9f7d9;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
}

#navbar{
    position: fixed;
    top: 0;
    width:100% ;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    z-index: 1;
}

.nav-top{
    color: #f9f7d9;
    transition: 0.3s ease-in-out;
}

.nav-active{
    background-color: #1A1B32;
    color: #f9f7d9;
}

#navbar li{
    display: inline-block;
}

#left-bar li{
 padding-left: 1.3em;

}

#right-bar li{
    padding-right: 1.3em;
    font-size: 1.12em;
    padding-top: 0.03em;
}
.git-logo:hover{
    color: #24292E;
    background-color: white;
    border-radius: 50%;
}
.link-logo:hover{
    color: #0073B1;
}
.mail-logo:hover{
    color: #E34133;
}

#right-bar ion-icon:hover{
    -webkit-animation:vibrate-1 .3s linear infinite both;animation:vibrate-1 .3s linear infinite both
}
@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

#projects{
    text-align: center;
    background-color: #1A1B32;
    color: #f9f7d9;
    padding-top: 4em;
    position: relative;
}

#projects h1{
    margin-bottom: 2.1em;
    font-size: 2.7em;
}

#project-container{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2em;
}

#project-container .project-tile{
    margin-bottom: 4em;
    color: black;
    border-radius: 5px;
    background: linear-gradient(#900c3f, #900c3f), 
    linear-gradient(to right, #900c3f, #fa7d09);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 4px solid transparent;
}

.project-tile h3{
    font-size: 1.3em;
    padding: 0.5em;
    background-color: #00263b;
    color: white;
}

#projects button{
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: burlywood;
    font-size: 1.1em;
    font-weight: bold;margin-top: 4.1em;
    position: absolute;
    transition: background 0.3s ease-out;
    right: 45em;
}

#projects button:hover{
    background-color: chocolate;
}

#projects button a{
    color: black;
}

#curve{
    display: block;
}

#contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    background-color: chocolate;
    transition: background 0.3s ease-out;
}

#contact li{
    display: inline;
    font-size: 1.6em;
    padding-right: 1.1em;
}

#contact ul{
    margin-bottom: 1.9em;
}

#contact h1{
    margin: 2.4em 0 1.2em 0;
}

#bottom-bar ion-icon:hover{
    animation:scale-up-center 1s cubic-bezier(.39,.575,.565,1.000) both
}
@keyframes scale-up-center{0%{transform:scale(1)}100%{transform:scale(1.2)}}

