* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            scroll-behavior: smooth;
  }

#welcome-section{
    background-color: #222831;
    color: #f9f7d9;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
}

#navbar{
    position: fixed;
     top: 0;
    width:100% ;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 2em;
    height: 1.8em;
    
}
.nav-top{
    color: #f9f7d9;
    background-color: #222831;
    transition: 0.3s ease-in-out;
}

.nav-active{
    background-color: #31112c;
    color: #f9f7d9;
    }


#navbar li{
    display: inline-block;
}

#left-bar li{
 padding-left: 1.3em;
}



#projects{
    text-align: center;
    background-color: #31112c;
    color: #f9f7d9;
    padding-top: 2em;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2em;
    /* border: crimson solid 2px; */
    /* align-content: flex-start; */
}

.project-tile{
    margin-bottom: 4em;
    background-color: #16213e;
    border-radius: 10px;
    color: whitesmoke;
}

.project-tile img{
    border: #16213e solid 8px;
    border-radius: 10px;
}
.project-tile h3{
    font-size: 1.3em;
    padding: 0.5em;
}















/* body {
    color: #222;
    background: #fff;
}

a {
    color: #0033cc;
} */

/* Dark Mode styles */
/* body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme a {
    color: #809fff;
} */

/* dark mode snippet end */
